/* Estilo para el cuerpo de la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif; /* O la fuente que prefieras */
}

/* Barra de navegación fija en la parte superior */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #343a40; /* Color de fondo */
    z-index: 1000; /* Asegura que la barra de navegación esté sobre el contenido */
}

/* Contenido principal que debe desplazarse */
.content {
    margin-top: 56px; /* Altura de la barra de navegación */
    margin-bottom: 60px; /* Altura del footer */
    padding: 20px;
    background-color: #f8f9fa; /* Color de fondo del contenido */
    overflow: auto; /* Permite el desplazamiento del contenido */
	padding-bottom: 50%
}

/* Ajustes para pantallas de celular */
@media (max-width: 768px) {
    .content {
        padding-bottom: 50%;
    }
}

/* Eliminar padding-bottom en pantallas grandes */
@media (min-width: 769px) {
    .content {
        padding-bottom: 10%;
    }
}

/* Estilos del botón de desplazamiento hacia arriba */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001; /* Para que esté sobre otros elementos */
    display: none; /* Oculto por defecto */
}

.scroll-to-top:hover {
    background-color: #495057; /* Cambia el color al pasar el mouse */
}

/* Footer fijo en la parte inferior */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Asegura que el footer esté sobre el fondo */
}

/* Estilo adicional para los enlaces en el footer */
footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}